* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
  }

  :root {
    --text-color: #667085;
    --main-color: #215FD1;
  }

nav{
  width: 1440px;
  height: 80px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #FFFFFF;
}

.logo {
display: flex;
}

.logo img{
 height: 54px;
 width: 54px;
 margin:auto;
margin-left: 112px;

}

    .logo p{
        width: 135px;
        height: 10px;
        left: 35px;
        top: 1.5px;
        margin-left: 8px;
        color: #3A404E;
        font-weight: 500;
        font-size: 18px;
        line-height: 50px;
        text-align: center;
        
    }


    .page-itens ul{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

         /* fonte */
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        
    }

    .page-itens ul li {
        list-style: none;
        margin: 0px 10px;
    }

    .page-itens a{
        text-decoration: none;

        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--text-color);
    }

   .page-itens a:hover {
        background-color: #D3D3D3;
    }


.btn1{

        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        color: var(--text-color);

        width: 112px;
        height: 44px;
        left: 18px;
        top: 10px;

        border-radius: 8px;
        border: none;
        background-color: white;
        margin-right: 15px;

    }
    .btn1:hover {
        box-shadow: inset 0 0 0 3px #215FD1;
        cursor: pointer;
        transition: all 0.4s ease;
        color: white;
        background: #215FD1;
        border: none;
      }

.btn2 {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;

        width: 112px;
        height: 44px;
        background-color: #215FD1;
        color: white;
        border: 1px solid #215FD1;
        border-radius: 8px;

    }

.btn2:hover {
        cursor: pointer;
        background: transparent;
        transition: all 0.4s ease;
        box-shadow: inset 0 0 0 3px #215FD1;
        color: #101828;
      }


.sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;

    width: 1440px;
    height: 407px;
    left: calc(50% - 1440px/2);
    top: 80px;
    gap: 1rem; 
}

.sobre-nos span{
    color: var(--main-color);
    font-weight: 600;
}

.sobre-nos h1 {
    font-size: 40px;
}

.sobre-nos p{
    color: var(--text-color);
    width: 791px;
    height: 60px;
    left: 0px;
    top: 12px;
    text-align: center;
    font-size: 19px;
}

.metricas-container{
    display: flex;
    flex-direction:row;
    align-items:center;
    padding: 0px 0px 96px;

    width: 10px;
    height: 40px;
    left: 0px;
    margin-left: 10%;
}

.metricas-container h1{
width: 280px;
height: 72px;
left: 0px;
top: 0px;

font-weight: 600;
font-size: 40px;
line-height: 72px;
letter-spacing: -0.02em;

color: var(--main-color);
margin-right: 10%;
}

.metricas-container h4{
width: 280px;
height: 28px;
left: 0px;
top: 0px;

font-weight: 500;
line-height: 28px;
margin: 5px 0px;
margin-right: 10%;
}

.metricas-container p{
    margin-right: 10%;
    color: var(--text-color);
    font-size: 15px;
}
